@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
}

#restart {
    padding : 0.8rem;
}

body {
    width: 100%;
    background-color: aliceblue;
    color: #1a1a1a;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
}

#game {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
}

.case {
    width: 33%;
    height: 20rem;
    border: 0.1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
}

.green {
    color: mediumseagreen;
}

.red {
    color: indianred;
}